<div dir="ltr" style="text-align: left;" trbidi="on">
<div class="western"><p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Now we will focus on important features, break, continue, pass Statements.</p>
<h3 style="font-family: times, times new roman, serif;">break Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
break can used to break the loops like for, while. It takes control from loops to end of the loop</span><br/>
<b style="font-family: times, times new roman, serif;">Example:</b>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;for i in range(10):
...&nbsp;    if i%2 == 0:
...&nbsp;        break
...&nbsp;    print i,
...
</pre>
</div>
<div class="western"><h3 style="font-family: times, times new roman, serif;">continue Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
continue is also break the loops, but it takes control from loops to start of loop.</span><br/>
<b style="font-family: times, times new roman, serif;">Example:</b>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;for i in range(10):
...&nbsp;    if i%2 != 0:
...&nbsp;        continue
...&nbsp;    print i,
...
</pre>
<b style="font-family: times, times new roman, serif;">Output Will be :</b><span style="font-family: times, times new roman, serif;"> 0 2 4 6 8</span>
</div>
<div class="western"><h3 style="font-family: times, times new roman, serif;">pass Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
pass can be used when statement require but without action, like we create base class that provides base for inheriting class.</span><br/>
<b style="font-family: times, times new roman, serif;">Example:</b>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;def foo():
...&nbsp;    pass
...
</pre>
<span style="font-family: times, times new roman, serif;">This will print nothing.<br/>
Keep Following, For More.
</span>
</div>
</div>