<div dir="ltr" style="text-align: left;" trbidi="on">
<div class="western"><p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
As Other Languages Python also has control flow Statements. They are as follows:-</p></div>
<div class="western"><h3 style="font-family: times, times new roman, serif;">if Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
It used to check condition according to it control program flow.</span><br/>
<b style="font-family: times, times new roman, serif;">Syntax:</b>
<pre>
    if condition:
        statement1
        statement2
        ...
</pre>

<h3 style="font-family: times, times new roman, serif;">if..else Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
It is used control flow according to condition, If condition evaluates to True, It will execute if block, else block otherwise.</span><br/>
<b style="font-family: times, times new roman, serif;">Syntax:</b>
<pre>
    if condition:
        statement1
        statement2
        ...
    else:
        statement1
        statement2
        ...
</pre>
<b style="font-family: times, times new roman, serif;">Example:</b>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;a = 3
>>>&nbsp;b = 9
>>>&nbsp;if b > a:
...&nbsp;    print "B is Max"
...&nbsp;else:
...&nbsp;    print "A is Max"
...&nbsp;
B is Max
</pre>
</div>
<div class="western"><h3 style="font-family: times, times new roman, serif;">if..elif..else Statement</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Python Doesn't supports switch...case like C or Java, it is replaced with if - elif - else. It first checks if condition if it evaluates true it executes statements
enclosed within otherwise it goes to elif, checks condition if it is true it executes statements in it's block otherwise it executes else block statements.</span><br/>
<b style="font-family: times, times new roman, serif;">Syntax:</b>
<pre>
    if condition:
        statement1
        statement2
        ...
    elif condition:
        statement1
        statement2
    else:
        statement1
        statement2
        ...
</pre>
<b style="font-family: times, times new roman, serif;">Example:</b><br/>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
We slightly modify above program. As follows, </span>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;a = 3
>>>&nbsp;b = 9
>>>&nbsp;b = 7
>>>&nbsp;if a > b and a > c:
...&nbsp;    print "A is Max"
...&nbsp;elif b > c:
...&nbsp;    print "B is Max"
...&nbsp;else:
...&nbsp;    print "C is Max"
...&nbsp;
B is Max
</pre>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
That's it. We Will See Next Loops, Keep Following. </span>
</div>
</div>