<div dir="ltr" style="text-align: left;" trbidi="on">
<div style="text-align: center;"><h2><span style="font-family: times, times new roman, serif;">Getting Started With Python</span></h2></div>
<div class="western">
	<p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp; Python is an easy to learn, powerful, general purpose programming language.
It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, 
together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.</p></div>

<div class="western">
	<p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;The Python interpreter and the extensive standard library are freely
available in source or binary form for all major platforms from the Python Web site, <a href="https://www.python.org/" target="_blank">https://www.python.org/</a>
 and may be freely distributed. The same site also contains distributions of and pointers to many free third party Python modules, programs and tools,
 and additional documentation.</p></div>

<div class="western">
	<p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;The Python interpreter is easily extended with new functions and data
types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.</p></div>

<div class="western">
	<p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;Python is a clear and powerful object-oriented programming language,
comparable to Perl, Ruby, Scheme, or Java.</p></div>
<br/>
<div class="western">
	<span style="font-family: times, times new roman, serif;"><b>Some programming-language features of Python are: </b></span>
	<ul>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			A variety of basic data types are available: numbers (floating point, complex, and unlimited-length long integers), strings (both ASCII and Unicode), 
			lists, and dictionaries.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Python supports object-oriented programming with classes and multiple inheritance.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Code can be grouped into modules and packages.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			The language supports raising and catching exceptions, resulting in cleaner error handling.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Data types are strongly and dynamically typed. Mixing incompatible types (e.g. attempting to add a string and a number)
			 causes an exception to be raised, so errors are caught sooner.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Python contains advanced programming features such as generators and list comprehensions.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Python's automatic memory management frees you from having to manually allocate and free memory in your code.</span></div></li>
	</ul>
</div>
<br/>
<div class="western">
	<span style="font-family: times, times new roman, serif;"><b>Some of Python's notable features: </b></span>
	<ul>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Uses an elegant syntax, making the programs you write easier to read.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Is an easy-to-use language that makes it simple to get your program working. This makes Python ideal for prototype development and other
			 ad-hoc programming tasks, without compromising maintainability.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Comes with a large standard library that supports many common programming tasks such as connecting to web servers, searching text with regular
			 expressions, reading and modifying files.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Python's interactive mode makes it easy to test short snippets of code. There's also a bundled development environment called IDLE.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Is easily extended by adding new modules implemented in a compiled language such as C or C++.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Can also be embedded into an application to provide a programmable interface.</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Runs anywhere, including 
			<a href="https://www.python.org/downloads/mac-osx/" target="_blank">Mac OS X,</a>
			<a href="https://www.python.org/downloads/windows/" target="_blank">Windows,</a>
			<a href="https://docs.python.org/2.7/using/unix.html/" target="_blank">Linux,</a> and
			<a href="https://docs.python.org/2.7/using/unix.html/" target="_blank">Unix.</a>
			</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">
			Is free software in two senses. It doesn't cost anything to download or use Python, or to include it in your application. Python can also be
 			freely modified and re-distributed, because while the language is copyrighted it's available under 
 			<a href="https://docs.python.org/2.7/license.html/" target="_blank">an open source license.</a></span></div></li>
	</ul>
</div>
<br/>
<div class="western">
	<h4 style="font-family: times, times new roman, serif;">Applications of Python: </h4>
	<ul>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Application Domains</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Database Access</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Desktop GUIs</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Education</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Game and 3D Graphics</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Network Programming</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Scientific and Numeric</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Software Development</span></div></li>
		<li><div class="western" style="margin-bottom: 0in;"><span style="font-family: times, times new roman, serif;">Web Development</span></div></li>
	</ul>
</div>
<br/>
<div class="western">
	<h3 style="font-family: times, times new roman, serif;">Getting Python: </h3>
	<p style="font-family: times, times new roman, serif;">Before you start, you will need Python on your computer, but you may not need to download it. </p>
	<p style="font-family: times, times new roman, serif;"> First of all check that you don't already have Python installed by entering python in a command
	 line window. If you see a response from a Python interpreter it will include a version number in its initial display. Generally any recent version will do,
	  as Python makes every attempt to maintain backwards compatibility.</p>
	<p style="font-family: times, times new roman, serif;">There are currently two major versions of Python available: Python 2 and Python 3. You can install anyone.</p>
	<p style="font-family: times, times new roman, serif;">If you're running <b>Windows</b>: the most stable Windows downloads are available from the
	<a href="https://www.python.org/downloads/windows/" target="_blank">Python for Windows.</a></p>
	<p style="font-family: times, times new roman, serif;">If you are using a <b>Mac</b>: see the
	<a href="https://www.python.org/downloads/mac-osx/" target="_blank"> Python for Mac OS X.</a> page.</p>
	<p style="font-family: times, times new roman, serif;"> For <b>Red Hat</b>: install the python2 and python2-devel packages.</p>
	<p style="font-family: times, times new roman, serif;"> For <b>Debian or Ubuntu</b>: install the python2.x and python2.x-dev packages.</p>
	<p style="font-family: times, times new roman, serif;"> OR See this OS Specific distributions from <a href="https://www.activestate.com/activepython/downloads/" target="_blank"> ActiveState </a>.</p>
</div>
<br />
<div class="western">
<p style="font-family: times, times new roman, serif;"><h4>Verifying  Your Installation</h4></p>
<span style="font-family: times, times new roman, serif;">Verify your Installation by typing python on your Terminal or Command prompt. After Installation, Their are various types to use python, we will start according to OS,</span>
<br/><span style="font-family: times, times new roman, serif;">On Windows/Mac:<br/>Their will be Desktop Shortcut to launch python. You will Something Like This.
<div style="text-align: left; background-color: black; color: white; margin-left: 0in; margin-right: 1in;">Python 3.5.1 (v3.5.1:37a07cee5969, Dec 6 2015, 03:19:39) [MSC v.1900 64 bit (AMD64)] on win32<br/>
Type "help", "copyright", "credits" or "license" for more information.<br/><b style="text-align: left;">>>></b></div>
</span>
<br/><span style="font-family: times, times new roman, serif;">On Linux/Unix distributions:<br/>Open Terminal & Type python. You Should see Something Like This.
<div style="text-align: left; background-color: black; color: white; margin-left: 0in; margin-right: 1in;">Python 2.7.5 (default, Aug  4 2017, 00:39:18) <br/>
[GCC 4.8.5 20150623 (Red Hat 4.8.5-16)] on linux2<br/>
Type "help", "copyright", "credits" or "license" for more information.<br/><b style="text-align: left;">>>></b></div>
</span>
</div>
</div>
