<div dir="ltr" style="text-align: left;" trbidi="on">
<div class="western"><p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
In Python, There are loops like for and while, Let's See them in detail.</p>
<h3 style="font-family: times, times new roman, serif;">for Loop</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
The for statement from python iterates over any sequence it may be string or list.</span><br/>
<b style="font-family: times, times new roman, serif;">Syntax:</b>
<pre>
    for iterator in sequence:
        statement1
        statement2
        ...
</pre>
<b style="font-family: times, times new roman, serif;">Example:</b>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;a = 3
>>>&nbsp;for char in 'python':
...&nbsp;    print char
...&nbsp;
p
y
t
h
o
n
</pre>
</div>
<div class="western"><h3 style="font-family: times, times new roman, serif;">while Loop</h3>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
The while statement from python is used to check condition and then iterate if condition evaluates True.</span><br/>
<b style="font-family: times, times new roman, serif;">Syntax:</b>
<pre>
    while condition:
        statement1
        statement2
        ...
</pre>
<b style="font-family: times, times new roman, serif;">Example:</b><br/>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Let's we will write function that calculates Fibonacci series.</span>
<pre style="font-family: courier new, courier, monospace;">>>>def fibo(limit):
...&nbsp;    a, b = 0, 1
...&nbsp;    while a < limit:
...&nbsp;        print a,
...&nbsp;        a, b = b, a + b
...
>>>fibo(10)
0 1 1 2 3 5 8
</pre>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Get in touch for more fun, Keep Following. </span>
</div>
</div>
