<div dir="ltr" style="text-align: left;" trbidi="on">
<div class="western">
<h2 style="font-family: times, times new roman, serif;">Tuple</h2>
<p style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
This data structure of python is immutable like array. We can't update it after initialization.</p>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Tuple is initialized using tuple class or ().
<br/>
tuple1 = tuple()
<br/>
tuple2 = ()
<br/>
tuple3 = value1, value2,...,valueN
<br/>
Below are some methods of tuple object
</span>
<h4 style="font-family: times, times new roman, serif;">tuple.count(value)</h4>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Returns number of time value appears in tuple.</span>
<h4 style="font-family: times, times new roman, serif;">tuple.index(value, [start, [stop]])</h4>
<span style="font-family: times, times new roman, serif;">&nbsp;&nbsp;&nbsp;&nbsp;
Returns first index of value or raises ValueError if value not present. It optionally take two more 
parameters start and stop and searches value in between start and stop.
<br/><br/>
Lets Understand this by taking Example
</span>
<pre style="font-family: courier new, courier, monospace;">>>>&nbsp;t=tuple()
>>>&nbsp;t
()
>>>&nbsp;t = (19, 3, 7, 5, 2, 8)
>>>&nbsp; t
(19, 3, 7, 5, 2, 8)
>>>&nbsp;19 in t
True
>>>&nbsp;t[3:5]
(5, 2)
>>>&nbsp;len(t)
6
>>>&nbsp;t.count(3)
1
>>>&nbsp; t.index(3)
1
</pre></div>
<br/>
<span style="font-family: times, times new roman, serif;">Keep Following, For More.</span>
</div>
